/**
 * VIDEOSOFTWARE.PRO
 * Copyright 2011 VideoSoftware.PRO
 * All Rights Reserved.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 *  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *  See the GNU General Public License for more details.
 *  You should have received a copy of the GNU General Public License along with this program.
 *  If not, see <http://www.gnu.org/licenses/>.
 * 
 *  Author: Our small team and fast growing online community at videosoftware.pro
 */

/* CSS file */

Application{
	width: 670;
	height: 488;
	horizontalAlign: center;
	verticalAlign: top;
	top: 6;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	color: #000000;
	backgroundColor: #000000;
}

.MainContainerH {
	width: 670;
	horizontalAlign: center;
	verticalGap: 1;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

.MainContainerV {
	width: 670;
	horizontalAlign: center;
	verticalGap: 0;
	horizontalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.VideoWindowsH {
	horizontalAlign: center;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	backgroundColor: #000000;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.VideoWindowsV {
	horizontalAlign: center;
	verticalGap: 0;
	horizontalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	backgroundColor: #000000;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 0;
	cornerRadius: 4;
}

.TextWindowsV {
	width: 334;
	horizontalAlign: center;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	horizontalGap: 0;
	verticalGap: 0;
}

.VideoDisplay {
	width: 320;
	height: 240; 
}

Button {
	backgroundColor: #ff0000;
	rollOverColor: #ff0000;
	selectionColor: #ff0000;
	color: #686C72;
	textRollOverColor: #979797;
	textAlign: center;
	fontWeight: bold;
	borderColor: #FFFFFF;
	themeColor: #B7BABC;
	textSelectedColor: #666666;
}



.adContainer {
	backgroundColor: #000000;
}

.ad {
	horizontalAlign: center;
	verticalAlign: middle;
}

.VideoLabelL {
	top: 5;
	left: 5; 
	color: #b7babc;
	alpha: 0.5;
}

.VideoLabelR {
	top: 5;
	right: 5; 
	color: #b7babc;
	alpha: 0.5;
}

.VideoWindowControls {
	backgroundColor: #000000;
	backgroundAlpha: 0.7;
	verticalAlign: bottom;
	bottom: 0;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	showEffect: Fade;
	hideEffect: Fade;
}

.FilterLabel {
}

.VideoWindowFilterLabel {
	color: #FFFFFF;
	fontSize: 9;
	showEffect: Fade;
	hideEffect: Fade;
}

.sliderLabel {
	bottom: 0;
	color: #ffffff;
	tickColor: #ffffff;
	labelOffset: -6;
	font-size: 8;
	showEffect: Fade;
	hideEffect: Fade;
}

.FilterButton {
	color: #ffffff;
	fontFamily: Arial, Helvetica;
	fontSize: 9;
}

.FilterInput {
	height: 16;
	fontFamily: Arial;
	fontSize: 9;
}

.VolumeControl {
	horizontalAlign: center;
	horizontalGap: 0;
	color: #ffffff;
}
.VolumeControlLabel {
	color: #ffffff;
}

.VolumeControlSlider {
	width: 120;
}

.UserInfo {
	color: #ffffff;
	fontSize: 8;
	alpha: 0.5;
	backgroundColor: #ffffff;
	backgroundAlpha: 0.1;
	paddingTop: 2;
	paddingBottom: 1;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 0;
	borderColor: #000000;
	borderAlpha: 0.1;
	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 4;
}

.myUsername {
	borderStyle: solid;
	borderColor: #FFFFFF;
	borderThickness: 2;
	backgroundColor: #000000;
	backgroundAlpha: 0.8;
	borderAlpha: 0.5;
	backgroundDisabledColor: #000000;
	color: #FFFFFF;
	fontSize: 16;
	textAlign: left;
	paddingTop: 2;
}

.White {
	fontFamily: Arial, Helvetica;
	fontSize: 11;
	color: #ffffff;
}

/*CHAT AREA*/
.ChatArea {
	horizontalAlign: center;
}

.ChatTime {
	color: #B7BABC;
	font-size: 9;
}

.ChatUser {
	color: #767C82;
	font-size: 11;
}

.ChatSent {
	color: #486DB8;
	font-size: 12;
	fontWeight: bold;
}

.ChatRcvd {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
}

TextArea {
	borderStyle: none;
	borderThickness: 0;
}

.TextAreaH {
	backgroundAlpha: 0.95;
	backgroundColor: #D7E0E7;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
	fontFamily: Arial, Helvetica;
	fontSize: 10;
	color: #767C82;
	paddingTop: 6;
	paddingBottom: 0;
	paddingLeft: 10;
	paddingRight: 100;
}

.TextAreaV {
	backgroundAlpha: 0.95;
	backgroundColor: #D7E0E7;
	fontFamily: Arial, Helvetica;
	fontSize: 10;
	color: #767C82;
	paddingTop: 11;
	paddingBottom: 21;
	paddingLeft: 2;
	paddingRight: 2;
	borderStyle: none;
	borderThickness: 0;
}

/*INPUT AREA*/
.InputAreaH {
	horizontalAlign: center;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	verticalGap: 0;
	horizontalGap: 6;
	backgroundColor: #D7E0E7;
	backgroundAlpha: 0.95;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.InputAreaV {
	horizontalAlign: center;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	verticalGap: 6;
	horizontalGap: 6;
	backgroundColor: #D7E0E7;
	backgroundAlpha: 0.95;
}

.BigButton {
	fontFamily: Arial;
	fontSize: 16;
}

.InfoBox {
	backgroundColor: #B7BABC;
}
.InfoBoxLabel {
	fontSize: 6;	
}

.autoNextSec {
	bottom: 0;
	color: #B7BABC;
	tickColor: #B7BABC;
	labelOffset: -6;
	font-size: 8;
	showEffect: Fade;
	hideEffect: Fade;
}

.SpeedButton {
	backgroundColor: #ff0000;
	rollOverColor: #ff0000;
	selectionColor: #ff0000;
	borderColor: #FFFFFF;
	themeColor: #B7BABC;
	textSelectedColor: #666666;
	color: #686C72;
	textRollOverColor: #979797;
	paddingLeft: 2;
	paddingRight: 2;
	textAlign: center;
	fontFamily: Arial;
	fontSize: 10;
	fontWeight: normal;
	showEffect: Fade;
	hideEffect: Fade; 
	visible: false;
}

.SettingsButton {
	backgroundColor: #ff0000;
	rollOverColor: #ff0000;
	selectionColor: #ff0000;
	color: #ffffff;
	textRollOverColor: #ffffff;
	textAlign: center;
	fontWeight: normal;
}

TextInput {
	color: #3B5997;
	fontFamily: Arial, Helvetica;
	fontSize: 14;
	fontWeight: bold;
	borderStyle: none;
	borderThickness: 0;
	cornerRadius: 4;
	alpha: 0.5;
}

.SettingsPanels {
	backgroundColor: #ffffff;
	backgroundAlpha: 0;
	paddingTop: 2;
	paddingRight: 6;
	paddingBottom: 4;
	paddingLeft: 6;
	borderThickness: 0;
}

.Description {
	color: #ffffff;
}

.Help {
	backgroundAlpha: 0.5;
	backgroundColor: #000000;
	borderColor: #ffffff;
	borderThickness: 0;
	cornerRadius: 4;
	fontFamily: Arial, Helvetica;
	fontSize: 11;
	color: #3B5997;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 2;
	paddingRight: 2;
}

.ChatInput {
	backgroundColor: #ffffff;
	backgroundAlpha: 0.5;
	borderColor: #B7BABC;
	borderStyle: solid;
	cornerRadius: 4;
	themeColor: #FFFFFF;
	borderThickness: 1;
	focusAlpha: 0.4;
	showEffect: Fade;
	hideEffect: Fade;
	visible: false; 
	
/*drop-shadow-color:#000;
shadow-direction: 90;
shadow-distance: 1px;
drop-shadow-enabled:true;*/
}

.Blue {
fontFamily: Arial, Helvetica;
fontSize: 9;
color: #3B5997;
}

.Sett {
	fontFamily: Arial, Helvetica;
	fontSize: 9;
	fontWeight: normal;
	color: #000000;
}

.Black {
	backgroundColor: #ff0000;
	rollOverColor: #ff0000;
	selectionColor: #ff0000;
	color: #686C72;
	textRollOverColor: #979797;
	textAlign: center;
	fontWeight: bold;
	borderColor: #FFFFFF;
	themeColor: #000000;
	textSelectedColor: #666666;
}

ScrollBar {
up-arrow-skin: ClassReference(null);
down-arrow-skin: ClassReference(null);
trackSkin: Embed(source="../assets/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbUpSkin: Embed(source="../assets/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbOverSkin: Embed(source="../assets/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbDownSkin: Embed(source="../assets/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}

ComboBox {
openDuration : 500;
fontFamily: Arial, Helvetica;
color: #000000;
font-size: 9;
font-weight: normal;
}

Label {
drop-shadow-color:#000;
shadow-direction: 90;
shadow-distance: 1px;
drop-shadow-enabled:true;
}

.jabberCamButton {
	corner-radius: 14;
	font-size: 10;
	font-weight: bold;
	font-anti-alias-type: advanced;
	color: #ffffff;
	text-roll-over-color: #000000;
	up-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
	down-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
	over-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
}