/**
 * VIDEOSOFTWARE.PRO
 * Copyright 2010 VideoSoftware.PRO
 * All Rights Reserved.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 *  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *  See the GNU General Public License for more details.
 *  You should have received a copy of the GNU General Public License along with this program.
 *  If not, see <http://www.gnu.org/licenses/>.
 * 
 *  Author: Our small team and fast growing online community at videosoftware.pro
 */

/* CSS file */
/*TextInput {
drop-shadow-color:#000;
shadow-direction: 90;
shadow-distance: 1px;
drop-shadow-enabled:true;
}*/

.Blue {
fontFamily: Arial, Helvetica;
fontSize: 11;
color: #3B5997;
}
.White {
fontFamily: Arial, Helvetica;
fontSize: 11;
color: #ffffff;
}

ScrollBar {
up-arrow-skin: ClassReference(null);
down-arrow-skin: ClassReference(null);
trackSkin: Embed(source="../assets/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbUpSkin: Embed(source="../assets/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbOverSkin: Embed(source="../assets/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
thumbDownSkin: Embed(source="../assets/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}

ComboBox {
openDuration : 500;
fontFamily: Arial, Helvetica;
color: #3B5997;
font-size: 9;
font-weight: normal;
}

TextArea {
backgroundAlpha: 0.95;
backgroundColor: #D7E0E7;
cornerRadius: 4;
fontFamily: Arial, Helvetica;
fontSize: 14;
color: #3B5997;
paddingTop: 50;
paddingBottom: 10;
paddingLeft: 10;
paddingRight: 220;
}

.ChatTime {
color: #666666;
font-size: 9;
}

Label {
drop-shadow-color:#000;
shadow-direction: 90;
shadow-distance: 1px;
drop-shadow-enabled:true;
}

.jabberCamButton {
	corner-radius: 14;
	font-size: 10;
	font-weight: bold;
	font-anti-alias-type: advanced;
	color: #ffffff;
	text-roll-over-color: #000000;
	up-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
	down-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
	over-skin: ClassReference("jabbercam.skins.JabberCamButtonSkin");
}

.sliderLabelStyle {
	color: #ffffff;
	labelOffset: -6;
	font-size: 8;
}