/* CSS file */

.vspro_url {
	fontSize: 11;
	fontWeight: normal;
	skin:	ClassReference(null);
}

.VideoWindows {
	horizontalAlign: center;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	backgroundColor: #000000;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.TextArea {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
	backgroundAlpha: 0.5;
	backgroundColor: #D7E0E7;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
	fontFamily: Arial, Helvetica;
	fontSize: 10;
	color: #767C82;
	paddingLeft: 3;
	paddingRight: 3;
}

.InputArea {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
	horizontalAlign: center;
	paddingTop: 2;
	paddingLeft: 6;
	paddingRight: 6;
	verticalGap: 0;
	horizontalGap: 6;
	backgroundColor: #D7E0E7;
	backgroundAlpha: 0.5;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.ChatTime {
	color: #ff0000;
	font-size: 9;
}

.ChatUser {
	color: #767C82;
	font-size: 11;
}

.ChatSent {
	color: #486DB8;
	font-size: 12;
	fontWeight: bold;
}

.ChatRcvd {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
}