/**
 * VIDEOSOFTWARE.PRO
 * Copyright 2010 VideoSoftware.PRO
 * All Rights Reserved.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 *  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *  See the GNU General Public License for more details.
 *  You should have received a copy of the GNU General Public License along with this program.
 *  If not, see <http://www.gnu.org/licenses/>.
 * 
 *  Author: our fast growing online community at videosoftware.pro
 */

/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx"; 

/*
ScrollBar {
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	trackSkin: Embed(source="../assets/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbUpSkin: Embed(source="../assets/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbOverSkin: Embed(source="../assets/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbDownSkin: Embed(source="../assets/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}
*/

mx|TextArea {
	verticalScrollBarStyleName: scrollBarStyle;
	horizontalScrollBarStyleName: scrollBarStyle;
}

mx|TextInput {
	verticalScrollBarStyleName: scrollBarStyle;
	horizontalScrollBarStyleName: scrollBarStyle;
}

/* add your component here */
mx|Application {
	verticalScrollBarStyleName: scrollBarStyle;
	horizontalScrollBarStyleName: scrollBarStyle;
}

.scrollBarStyle {
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	trackSkin: ClassReference(null);
	thumbSkin: ClassReference(null);
} 

.vspro_url {
	fontSize: 11;
	fontWeight: normal;
	skin:	ClassReference(null);
}

.VideoWindows {
	horizontalAlign: center;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	backgroundColor: #000000;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.TextArea {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
	backgroundAlpha: 0.5;
	backgroundColor: #D7E0E7;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
	fontFamily: Arial, Helvetica;
	fontSize: 10;
	paddingLeft: 3;
	paddingRight: 3;
}

.InputArea {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
	horizontalAlign: center;
	paddingTop: 2;
	paddingLeft: 6;
	paddingRight: 6;
	verticalGap: 0;
	horizontalGap: 6;
	backgroundColor: #D7E0E7;
	backgroundAlpha: 0.5;
	borderColor: #B7BABC;
	borderStyle: solid;
	borderThickness: 4;
	cornerRadius: 4;
}

.ChatTime {
	color: #ff0000;
	font-size: 9;
}

.ChatUser {
	color: #767C82;
	font-size: 11;
}

.ChatSent {
	color: #486DB8;
	font-size: 12;
	fontWeight: bold;
}

.ChatRcvd {
	color: #3B5997;
	font-size: 12;
	fontWeight: bold;
}